@font-face {
  font-family: 'Carrois Gothic';
  src: url('/src/assets/fonts/CarroisGothic-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Carrois Gothic', sans-serif;
}

.outsideContainer {
  pointer-events: none;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.pointer-active {
  cursor: pointer;
  pointer-events: auto;
  user-select: none;
}

.tracks {
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
  }
  &-item {
    transition: 0.25s ease-in-out;
    position: absolute;
    transform: translate(-50%, 50%);
    background-color: #222;

    border-radius: 2rem;
    padding: 0.25rem;
    height: .5rem;
    width: .5rem;

    &-active {
      height: 0;
      width: 0;
    }
  }
}
