@font-face {
  font-family: 'Carrois Gothic';
  src: url('../assets/fonts/CarroisGothic-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Carrois Gothic', sans-serif;
}

.outsideContainer {
  pointer-events: none;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.pointer-active {
  pointer-events: auto;
}
